.checkbox_label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.checkbox_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.checkbox_form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox_check:checked &{
        border-color: var(--animation-color);
        background-color: var(--animation-color);
    }
}
.checkbox-link{
    text-decoration-line: underline;
    color: var(--animation-color);
}
.checkbox_icon-check{
    fill: #FFFFFF;
}
.checkbox_btn{
    width: 200px;
    height: 50px;
    margin: 0 124px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        background-color: var(--animation-color);
    }
}
.checkbox_btn-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}