.activities{
    padding-bottom: 94px;
}
.activities_list{
    display: flex;
}
.activities_item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;

    &:not(:last-child){
        margin-right: 30px;
    }
}
.activities_img{
    position: relative;
}
.activities_paragraph{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
}
.activities_header{
    font-family: 'Roboto';
    color: var(--header-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}